<mat-accordion multi='true' hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Angular tutorial
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content!</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Material tutorial
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content!</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>


