<div class="side">
    <button class="bttn mx-2" (click)="onClose()" style="float: right;"><i class="fas fa-times"></i></button>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" routerLink="/buttons">Buttons</a></li>
        <li class="list-group-item"><a href="#" routerLink="/badges">Badges</a></li>
        <li class="list-group-item"><a href="#" routerLink="/icons">Icons</a></li>
        <li class="list-group-item"><a href="#" routerLink="/progress-spinner">Progress-spinner</a></li>
        <li class="list-group-item"><a href="#" routerLink="/menu">Menu</a></li>
        <li class="list-group-item"><a href="#" routerLink="/list">List</a></li>
        <li class="list-group-item"><a href="#" routerLink="/expansion-panel">Expansion Panel</a></li>
        <li class="list-group-item"><a href="#" routerLink="/cards">Cards</a></li>
    </ul>
</div>






